*{
    font-family: arial;
    margin: 0;
}
header{
    width: 100%;
    height: 90px;
    border: 1px solid black;
    display: flex;
    border-top:1px solid white;
    flex-direction: row;
    justify-content: space-between;
}

#logo img{
    width: 75px;
    height:75px;
    border: 1px solid black;
    border-radius: 50%;
    box-shadow: 1px 1px 1px grey;
}
#logo{
    /* border:1px solid black; */
    width: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center
}


nav{
    /* border: 1px solid black; */
    width: 400px;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:space-around;
}

nav a{
    font-family:sans-serif;
    text-decoration: none;
    color: black;
}

nav a:first-child{
    font-weight: bold;
}

nav a:hover{
    
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 900px){
    nav a{
        
        font-size: 1.3em;
    }

    nav{
        /* border: 1px solid black; */
        width: 900px;
        display: flex;
        flex-direction: row;
        align-items:center;
        justify-content:space-around;
    }
}

